@charset "UTF-8";

* {box-sizing: border-box;}
body {padding: 0; margin: 0; font-family: 'Trispace', sans-serif; font-size: 14px; font-weight: normal;}
button {outline: none;}
h1, h2, h3, h4, h5, h6, p, ul {margin: 0; padding: 0;}
ul {list-style: none;}
li, button {cursor: pointer;}
img {display: block;}

.han {font-family: 'NanumSquare', sans-serif; font-size: 14px;}

/* side bar */
#sideBar {position: fixed; width: 16%; height: 100vh; background: #fff; box-shadow: 5px 5px 5px #d6d6d6; z-index: 20; left: 0;}
#sideBox img {width: 70%; margin: 35px 15%;}
#sideText {text-align: center; margin: 10% 10% 13%;}
#sideText h1 {font-size: 1.5rem;}
#sideText p {font-size: .85rem; color: #444; padding-bottom: 3px;}

#naviBox {margin: 0; padding: 0; text-align: center;}
.menu1 {width: 100%; line-height: 55px; font-size: 1rem; transition: .3s; font-weight: 500; color: #333;}
#naviBox .on {background: #000; color: #fff;}
.menu1:hover {background: #000; color: #fff;}

/* modal */
#modal {width: 100%; height: 100vh; background: rgba(0,0,0,.5); position: fixed; z-index: 15; display: none; cursor: pointer;}

/* contents */
#contents {width: 84%; margin-left: 16%; position: absolute;}

/* topMenu - pad, mobile */
#title {width: 100%; display: flex; align-items: center; flex-wrap: wrap; padding: 35px 58px;}
#topMenu {margin-bottom: 40px; display: none; width: 100%; flex-wrap: wrap; justify-content: center; align-items: center;}
#topMenu h1 {font-size: 2rem;}
.side_bt {position: fixed; left: 25px; font-size: 1rem; width: 60px; height: 60px; background: #fafafa; color: #000; display: flex; justify-content: center; align-items: center; border-radius: 100%; z-index: 2;}
.icon {font-size: 1.5em; cursor: pointer;}

/* contents menu */
#menuBox {display: flex; margin: 0; padding: 0;}
.menu2 {width: 80px; line-height: 40px; text-align: center; margin-right: 8px; background: #f3f1f1; font-size: 14px; transition: .3s; color: #333;}
.menu2:first-child {background: #000; color: #fff;}
.menu2:hover {background: #000; color: #fff;}

/* more section */
.section {width: 100%; padding: 0 40px 40px;}

/* sectionA */
#boxA {width: 100%; display: flex; flex-wrap: wrap; justify-content: center;}

.imgBoxA {width: calc(33% - 20px); background: #f3f1f1; margin: 0 20px 20px 0; color: black;}
.imgBoxA:nth-child(3n) {margin-right: 0;}
.img_box {width: 100%; overflow: hidden;}
.img_box img {width: 100%; cursor: pointer; transition: .3s;}
.img_box img:hover {transform: scale(1.2);}

.infoBoxA {padding: 15px 30px 0;}
.infoBoxA strong {font-size: 1.1rem;}
.infoBoxA p {font-size: 1rem; margin-bottom: 20px; font-size: .85rem; line-height: 1.2rem;}
.infoBoxA p:first-child {font-size: 1rem; margin: 20px 0 15px;}

.icon_box {display: flex; justify-content: space-between; align-items: center; padding: 0 30px 25px;}
.icon_box p {font-size: .9rem; color: #333; cursor: pointer;}

/* page */
#pageBox {display: flex; justify-content: center; margin-top: 20px;}
.page {padding: 10px; font-size: 1rem; color: #8e8e8e;}
.page:hover {color: indianred; font-weight: 600;}
.on {color: indianred; font-weight: 600;}

/* sectionB */
#boxB {display: flex; flex-wrap: wrap; justify-content: center; width: 100%; padding-bottom: 60px;}
.book_box {width: calc(25% - 20px); margin: 0 10px;}

.book_img {width: 100%; position: relative; cursor: pointer;}
.book_img img {width: 100%;}
.book_modal {position: absolute; width: 100%; background: rgba(0,0,0,.6); bottom: 0; display: flex; justify-content: center; align-items: center; padding: 25px; opacity: 0; transition: .3s;}
.book_modal p {font-size: .8rem; color: #eaeaea; line-height: 1.3rem;}
.book_img:hover .book_modal {opacity: 1;}

.book_title p {text-align: center; font-size: .85rem; color: #555;}
.book_title p:first-child {font-size: 1.1rem; font-weight: 700; padding: 20px 0 8px; color: #333;}

#infoBoxB {padding: 30px 15px 20px; display: flex; align-items: center; justify-content: space-between;}
#infoBoxB strong {font-size: 1.8rem; font-weight: 600;}
#infoBoxB a {font-size: 1.5rem; color: #333;}

/* graph box */
#graphBox {padding: 40px 10px 0;}
#graphBox strong {display: block; padding-bottom: 30px; font-size: 1.8rem; font-weight: 600;}

.hobby {display: flex; align-items: center; padding-bottom: 30px;}
.hobby p {width: 80px; font-size: 2rem; text-align: center;}
.ho_text {width: 80px; height: 40px; display: flex; justify-content: center; align-items: center; border-radius: 10%; background: #333; color: #fff; transition: .3s;}
.ho_text p {width: 80px; font-size: .85rem; text-align: center; font-weight: 400;}
.ho_text:hover {background: #444; cursor: pointer;}

.graphFull {width: 80%; height: 40px; margin: 0 20px; background: #eee;}
.graph {height: 40px; color: #fff; text-align: center; line-height: 40px; background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(142,142,142,1) 100%);}
#photography, #design, #photoshop {width: 0;}

/* sectionC */
#sectionC strong {display: block; padding: 40px 15px; font-size: 1.8rem; font-weight: 600; text-align: center;}
#boxC {display: flex; flex-wrap: wrap; justify-content: center; margin-bottom: 40px;}

.listBox {width: calc(30% - 15px); margin-right: 15px; border: 1px solid #d6d6d6;}
.listBox:last-child {margin-right: 0;}

.list {border-bottom: .5px solid #f3f1f1; text-align: center; padding: 20px 0; font-size: .9rem; font-weight: 600; color: #333; transition: .3s;}
.list:first-child {padding: 25px 0; background: black; color: #fff; font-size: 1.4em; font-weight: 300;}
.list:last-child {padding: 30px 0; background: #f3f1f1; color: #fff; border: none; font-size: 16px;}
.listBox .han:hover {background: #000; color: #fff;}

.more_bt {border: none; background: #333; padding: 10px 20px; border-radius: 25px; color: #fff; transition: .3s;}
.more_bt:hover {background: #666;}

/* footer */
#footBox {display: flex; flex-wrap: wrap; justify-content: center; padding: 40px;}
.contBox {width: calc(30% - 15px); margin-right: 15px;}
.contBox strong {display: block; font-size: 1.5rem; margin-bottom: 20px; font-weight: 600;}

.big {font-size: .9rem; margin-bottom: 20px; padding-right: 20px; line-height: 1.4rem;}
.small {font-size: .9rem; color: gray;}

.inBox {display: flex; flex-wrap: wrap; width: 100%; margin-bottom: 20px; position: relative;}
.inBox p {font-size: .9rem; color: #333;}
.inBox p:first-child {font-weight: 600; font-size: 1rem; padding-bottom: 5px;}

.footImg {width: calc(40% - 10px); margin-right: 10px;}
.footText {width: 60%; font-size: 14px; bottom: 0; position: absolute; right: 0;}

#tagBox {display: flex; flex-wrap: wrap;}
.tag {width: calc(33% - 5px); background: #000; color: #fff; margin-right: 5px; margin-bottom: 10px; text-align: center; font-size: .8rem; padding: 15px 0;}
#endBox {width: 100%; padding: 40px 0; background: #000; color: #bcbcbc; text-align: center; font-size: .8rem;}

/* media */
@media screen and (max-width: 1024px) {
    #sideBar {left: -100%; width: 40%;}
    #topMenu{display: flex;}
    #contents {width: 100%; margin-left: 0;}
    #title {padding: 40px 25px; justify-content: center;}
    .section {padding: 0 20px 40px;}
    #footBox {padding: 40px 20px;}
}

@media screen and (max-width: 900px) {
    .imgBoxA {width: calc(50% - 20px);}
    .imgBoxA:nth-child(3n) {margin-right: 20px;}
    .imgBoxA:nth-child(2n) {margin-right: 0;}
    .book_box {width: calc(50% - 20px);}
    .contBox {width: 100%; padding: 40px; margin: 0;}
}

@media screen and (max-width: 700px) {
    #sideBar {width: 50%;}
    .imgBoxA {width: 100%; margin: 0 0 20px 0;}
    .imgBoxA:nth-child(2n) {margin-right: 20px;}
    #boxB img {width: 100%; margin: 0 0 20px 0;}
    .listBox {width: 100%; margin: 0 0 20px 0;}
    .info {width: 100%;}
    .book_box {width:80%;}
    .book_title p {padding-bottom: 40px;}
    .icon {display: none;}
}

@media screen and (max-width: 500px) {
    #sideBar {width: 80%;}
    .off {display: none;}
    .contBox {padding: 40px 0;}
    #boxB {padding-bottom: 0;}
    #sectionC {padding-bottom: 0;}
    #footBox {padding: 20px;}
}